@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --border: #dbe1eb;
  --dark: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-dark: var(--dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #111827;
    --border: #dbe1eb;
    --dark: #111827;
  }
}

body {
  background: #FFFFFF;
  font-family: "Inter", sans-serif;
}

/* HIDE SCROLLBAR  */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar entirely */
  overflow: auto;
  /* Ensures content is scrollable */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}